.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* BANNERS */
.home-banner,
.comoalugar-banner {
  width: 100%;
  margin-bottom: 30px;
}

.banner-img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  display: block;
}

/* APRESENTAÇÃO */
.apresentacao {
  padding: 20px 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .apresentacao {
    flex-direction: column;
    text-align: center;
  }
}

/* PRODUTOS EM DESTAQUES - falta */

.apresentacao-vantagens {
  padding: 40px 20px;
  background-color:  #f39325;
}

/* LAYOUT PRINCIPAL */
.conteudo-vantagens {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column; /* 🔑 texto em cima, cards embaixo */
  align-items: center;
  gap: 40px;
}


/* TEXTO ESQUERDA */
.texto-vantagens {
  max-width: 700px;
  text-align: center;
  padding: 20px;
}

.texto-vantagens h2 {
  font-size: 25px;
  margin-bottom: 16px;
}

.texto-vantagens p {
  font-size: 22px;
  line-height: 1.7;
   padding: 20px;
}

.vantagens-cards h3 {
  color: #f39325; /* laranja */
  min-height: 60px;
  text-align: center;
}

/* GRID DOS CARDS */
.vantagens {
 display: grid;
 grid-template-columns: repeat(5, 1fr); /* 🔥 todos na mesma linha */
 gap: 24px;
 width: 100%;
}

/* CARD */
.vantagens-cards {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* movimento ao passar o mouse */
.vantagens-cards:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


/* ÍCONE */
.icone-vantagem {
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 1024px) {
  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }

  .vantagens {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .vantagens {
    grid-template-columns: 1fr;
  }
}

/* CHAMADA PARA AÇÃO */
.cta {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #ccc;
  font-size: 22px;
}

.cta p {
  margin: 15px 0;
   font-size: 22px;
}

.cta-button {
  padding: 12px 20px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #08ce61e7;;
  color: #fff;
}

.cta-button:hover {
  background-color:  #f39325;
}

